#home-container {
  text-align:center;
  padding-top:44px;

  p {
    width: 760px;
    margin: 0 auto;
    margin-top:25px;
  }

  .button-container {
    padding-top:40px;
    button {
      background: $mainBackground;
      color: $darkenBackgroundColor;
      border: 1px solid $darkenBackgroundColor;
      font-size:32px;
      display:inline-block;
      border-radius: 10px;
      cursor: pointer;
      width:320px;
      height:78px;
    }
    small {
      font-style: italic;
    }
  }

}

.common-container {
  width: $containerWidth;
  margin: 0 auto;
  padding-top: 50px;
  h1, h2, h3, h4, h5 {
    color: $headingColor;
    a {
      color: $headingColor;
    }
  }

  p {
    color: #2f2f2f;
    padding:10px 0;
    line-height: 150%;
  }

  .meta {
    font-size: 14px;
    color: #7a7a7a;
    padding: 0;
  }

  .pagination {
    margin-top: 80px;
  }

}
