---
layout: default
title: Anansi
---

{% include home-heading.html %}

<div id="home-container">
  <h3>Anansi presents a minimalist way to listen to podcasts</h3>
  <p>With focus in listenig, Anansi brings a very simple way to listen to podcasts for those who wants just to enjoy his podcasts. Without need to opening iTunes and with a minimalistc approach, Anansi focus in the experience.</p>

  <div class="button-container">
    <button>Download</button><br />
    <small>Anansi Desktop 0.0.0 Beta</small>
  </div>

  <p>Anansi is in open beta. Found a bug? Report here.</p>
</div>

{% include footer.html %}
