---
---
/** Variables */
$defaultBackground: #fafafa;
$mainBackground: #bee368;
$darkenBackgroundColor: #708f28;
$mainFontColor: #666;
$contrastFontColor: #fff;

$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Slabo 13px', serif;
$tinyHeadingFont: 'Slabo 27px', serif;
$headingColor: #aed25a;
$containerWidth: 800px;

/** Imports */
@import "base";
@import "layout";
@import "_modules/menu";
@import "_modules/heading";
@import "_modules/footer";
