@mixin heading {
  background: $mainBackground;
  h1, h2, h3, h4, h5 {
    color: $contrastFontColor;
  }
  h1 {
    font-family: $bodyFont;
    font-weight: 500;
    font-size: 42px;
  }
  a {
    color: $contrastFontColor;
    &:hover {
      color:$darkenBackgroundColor;
    }
  }
}

#main-header {
  @include heading;
  padding-top:190px;
  text-align:center;
  h1 {
    text-align: center;
    font-size: 124px;
    line-height: 0.7em;
    small {
      font-family: $headingFont;
      font-size: 56px;
    }
  }
  img {
    position:relative;
    top: 4px;
  }
}

#common-header {
  @include heading;
  h1 {
    width: $containerWidth;
    margin: 0 auto;
    padding-top: 10px;
  }
  height: 71px;
}
