.main-menu {
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  li {
    display:inline-block;
    a {
      color: $contrastFontColor;
      display:inline-block;
      padding:15px 20px;
    }
    &:hover, &.active {
      background: $darkenBackgroundColor;
    }
  }
}
