.main-menu {
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  font-family: $tinyHeadingFont;
  font-size:21px;
  li {
    display:inline-block;
    a {
      color: $contrastFontColor;
      display:inline-block;
      padding:23px 25px;
      &:hover {
        color: $contrastFontColor!important;
      }
    }
    &:hover, &.active {
      background: $darkenBackgroundColor;
    }
  }
}
